.side-menus {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.side-menu-item a {
    padding-left: 1.5rem !important;
    padding-top: 1.3rem !important;
    width: 100%;
    font-size: 12px;
    display: inline-block;
    color: green;
    height: 2rem;
    text-decoration: none;
}

.side-menu-title {
    margin-left: 1rem;
    font-weight: bolder;
}

.side-menu-item .active {
    color: green;
    background-color: #e8f9e9;
}