.manage-section {
    display: flex;
    flex-direction: row;
    height: 91.4vh;
}

.label-css {
    margin-left: 15px;
}

.form-section {
    width: 25%;
    background-color: white;
}

.render-section {
    width: 75%;
    padding: 1rem;
    height: 100vh - 3rem;
    background-color: #ebf9ec;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1.5;
}

.clear-btn {
    width: 7.5rem;
    padding: 0.6rem;
    border: 2px solid #12a779;
    border-radius: 5px;
    background-color: white;
    color: green;
    font-weight: 600;
}

.search-btn {
    width: 7.5rem;
    padding: 0.6rem;
    margin-left: 5px;
    border: 2px solid #12a779;
    border-radius: 5px;
    background-color: #12a779;
    color: white;
    font-weight: 600;
}

.clear-btn:hover {
    width: 7.5rem;
    padding: 0.6rem;
    border: 2px solid #12a779;
    border-radius: 5px;
    background-color: #12a779;
    color: white;
    font-weight: 600;
}

.search-btn:hover {
    width: 7.5rem;
    padding: 0.6rem;
    margin-left: 5px;
    border: 2px solid #12a779;
    border-radius: 5px;
    background-color: white;
    color: #12a779;
    font-weight: 600;
}

.search-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-button {
    position: fixed;
    bottom: 10px;
    left: 13.2rem;
}

.label-css {
    display: block;
    padding-bottom: 10px;
}

.input-css {
    width: 87% !important;
    border: none !important;
    font-size: 12px;
    outline: none;
}

.input-css:focus {
    border: none !important;
    outline: none;
}

.dropdown-container-search {
    position: relative;
    display: inline-block;
    padding-top: 8px;
    width: 100%;
    border-top: 2px solid #f2f2f2f2;
}

.dropdown-label {
    font-weight: bold;
    margin-bottom: 3px;
    margin-left: 15px;
    display: block;
    font-size: 10px;
}

.dropdown-button {
    height: 100%;
    align-items: baseline;
    gap: 8px;
    background-color: white;
    color: black;
    padding: 10px 15px;
    font-size: 12px;
    border: 2px solid #dedcdcf2;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.dropdown-button i {
    margin-right: 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 16.5rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-content div:hover {
    background-color: #f1f1f1;
}

.dropdown-container-search:hover .dropdown-content {
    /* Updated class name */
    display: block;
}

.btn-search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: none !important;
}

.form-section {
    height: 100%;
}

#search-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#search-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}