<section class="manage-section">
    <section class="form-section">
        <form style="width:100%" id="search-form">
            <div class="form-field">
                <div class="dropdown-container-search">
                    <label class="dropdown-label">Name</label>
                    <input class="dropdown-button input-css" placeholder="Enter Name" id="employee-name">
                </div>

                <div class="dropdown-container-search">
                    <label class="dropdown-label">Email Address</label>
                    <input class="dropdown-button input-css" placeholder="Enter Email Id" id="employee-email">
                </div>

                <div class="dropdown-container-search">
                    <label class="dropdown-label">Department</label>
                    <button class="dropdown-button btn-search" id="teamDropdown" (click)="toggleDropdown()">
                        {{ selectedDepartment || 'Select Department' }} <i class="bi bi-chevron-down"></i>
                    </button>
                    <div class="dropdown-content" [class.show]="dropdownOpen">
                        <div (click)="selectDepartment('Product Team')">Product Team</div>
                        <div (click)="selectDepartment('IDC')">IDC</div>
                        <div (click)="selectDepartment('OCBC')">OCBC</div>
                        <div (click)="selectDepartment('Radian')">Radian</div>
                        <div (click)="selectDepartment('Rustify')">Rustify</div>
                    </div>
                </div>

                <div class="dropdown-container-search">
                    <label class="dropdown-label">Role Type</label>
                    <button class="dropdown-button btn-search" id="teamDropdown" (click)="toggleDropdown()">
                        {{ selectedRoleType || 'Select Role Type' }} <i class="bi bi-chevron-down"></i>
                    </button>
                    <div class="dropdown-content" [class.show]="dropdownOpen">
                        <div (click)="selectedRole('Full Time')">Full Time</div>
                        <div (click)="selectedRole('Part Time')">Part Time</div>
                        <div (click)="selectedRole('Contract')">Contract</div>
                    </div>
                </div>

                <div class="dropdown-container-search">
                    <label class="dropdown-label">Designation</label>
                    <button class="dropdown-button btn-search" id="teamDropdown">
                        Select Designation<i class="bi bi-chevron-down"></i>
                    </button>
                </div>

                <div class="dropdown-container-search">
                    <label class="dropdown-label">Experience</label>
                    <button class="dropdown-button btn-search" id="teamDropdown">
                        Select Experience<i class="bi bi-chevron-down"></i>
                    </button>
                </div>

                <div class="dropdown-container-search">
                    <label class="dropdown-label">Year Of Joining</label>
                    <button class="dropdown-button btn-search" id="teamDropdown">
                        Select Year Of Joining<i class="bi bi-chevron-down"></i>
                    </button>
                </div>

                <div class="dropdown-container-search">
                    <label class="dropdown-label">Location</label>
                    <button class="dropdown-button btn-search" id="teamDropdown">
                        Select Location<i class="bi bi-chevron-down"></i>
                    </button>
                </div>

                <div class="dropdown-container-search">
                    <label class="dropdown-label">Team</label>
                    <button class="dropdown-button btn-search" id="teamDropdown">
                        Select Team<i class="bi bi-chevron-down"></i>
                    </button>
                </div>
            </div>

            <!-- <div class="form-button" style="width:100%">
                <button class="clear-btn">Clear</button>
                <button class="submit-btn">Submit</button>
            </div> -->
        </form>

    </section>

    <section class="render-section" style="overflow-y: auto;scrollbar-width: none;">
        <div class="card" *ngFor="let employee of employees">
            <div class="card-title" style="padding:0 1rem 0 1rem;margin-top:5px">
                <div class="pro-details">
                    <div class="pro-img">
                        <i class="bi bi-person-circle" style="font-size: 2.5rem;"></i>
                    </div>
                    <div>
                        <p>{{ employee.name }}</p>
                        <p>{{ employee.role }}</p>
                    </div>
                </div>
                <div>
                    <i class="bi bi-telegram icon-green" style="font-size: 2.5rem;"></i>
                </div>
            </div>
            <div class="card-body">
                <div class="item-align-flex-rating" style="padding:1rem">
                    <p>{{ employee.rating }} Rating</p>
                    <div class="star-container">
                        <ng-container *ngFor="let star of employee.starRatings">
                            <i *ngIf="star === 1" class="bi bi-star-fill"></i>
                            <i *ngIf="star === 0.5" class="bi bi-star-half"></i>
                        </ng-container>
                    </div>
                </div>
                <div class="item-align-flex-container border-profile-card details-css">
                    <div>Experience: {{ employee.experience }}</div>
                    <div>Date Of Joining: {{ employee.dateOfJoining }}</div>
                </div>
                <div class="border-profile-card details-css">
                    <div>Current Team: {{ employee.currentTeam }}</div>
                </div>
                <div class="border-profile-card details-css">
                    <div>Reporting Manager: {{ employee.reportingManager }}</div>
                </div>
                <div class="item-align-flex-container details-css border-profile-card">
                    <div><i class="bi bi-telephone-fill icon-blue"></i>&nbsp;{{ employee.phone }}</div>
                    <div><i class="bi bi-envelope-fill icon-red"></i>&nbsp;{{ employee.email }}</div>
                </div>
            </div>
        </div>
    </section>
</section>