.main {
    display: flex;
    flex-direction: row;
}

.sidenav-main {
    width: 15%;
    height: 100vh;
    background-color: beige;
    border-right: 3px solid #f2f2f2f2;
}

.main-content {
    width: 85%;
    height: 100vh;    
    background-color: #ebf9ec;
}