<section class="manage-section">
    <section class="form-section">
        <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
            <div id="manage-form">
                <div class="form-floating">
                    <input type="text" id="floatingInputName" placeholder="" required [(ngModel)]="newEmployee.name"
                        name="name">
                    <label for="floatingInputName">Name</label>
                </div>

                <div class="form-floating">
                    <input type="text" id="floatingInputRole" placeholder="" required [(ngModel)]="newEmployee.role"
                        name="role">
                    <label for="floatingInputRole">Designation</label>
                </div>

                <div class="form-floating">
                    <input type="number" id="floatingInputRating" placeholder="" required
                        [(ngModel)]="newEmployee.rating" name="rating">
                    <label for="floatingInputRating">Rating</label>
                </div>

                <div class="form-floating">
                    <input type="text" id="floatingInputExperience" placeholder="" required
                        [(ngModel)]="newEmployee.experience" name="experience">
                    <label for="floatingInputExperience">Experience</label>
                </div>

                <div class="form-floating">
                    <input type="text" id="floatingInputDOJ" placeholder="" required
                        [(ngModel)]="newEmployee.dateOfJoining" name="dateOfJoining">
                    <label for="floatingInputDOJ">Date Of Joining</label>
                </div>

                <div class="form-floating">
                    <input type="text" id="floatingInputTeam" placeholder="" required
                        [(ngModel)]="newEmployee.currentTeam" name="currentTeam">
                    <label for="floatingInputTeam">Current Team</label>
                </div>

                <div class="form-floating">
                    <input type="text" id="floatingInputManager" placeholder="" required
                        [(ngModel)]="newEmployee.reportingManager" name="reportingManager">
                    <label for="floatingInputManager">Reporting Manager</label>
                </div>

                <div class="form-floating">
                    <input type="text" id="floatingInputPhone" placeholder="" required [(ngModel)]="newEmployee.phone"
                        name="phone">
                    <label for="floatingInputPhone">Phone</label>
                </div>

                <div class="form-floating">
                    <input type="email" id="floatingInputEmail" placeholder="" required [(ngModel)]="newEmployee.email"
                        name="email">
                    <label for="floatingInputEmail">Email address</label>
                </div>
            </div>

            <div class="submit-container">
                <button type="submit" class="submit-btn">{{ isEditing ? 'Update Employee Record' : 'Add Employee Record' }}</button>
            </div>
        </form>

    </section>

    <section class="render-section" style="overflow-y: auto;scrollbar-width: none;">
        <div class="card" *ngFor="let employee of employees">
            <div class="card-title" style="padding:0 1rem 0 1rem;margin-top:5px">
                <div class="pro-details">
                    <div class="pro-img">
                        <i class="bi bi-person-circle" style="font-size: 2.5rem;"></i>
                    </div>
                    <div>
                        <p>{{ employee.name }}</p>
                        <p>{{ employee.role }}</p>
                    </div>
                </div>
                <div>
                    <i class="bi bi-telegram icon-green" style="font-size: 2.5rem;"></i>
                </div>
            </div>
            <div class="card-body">
                <div class="item-align-flex-rating" style="padding:1rem">
                    <p>{{ employee.rating }} Rating</p>
                    <div class="star-container">
                        <ng-container *ngFor="let star of employee.starRatings">
                            <i *ngIf="star === 1" class="bi bi-star-fill"></i>
                            <i *ngIf="star === 0.5" class="bi bi-star-half"></i>
                        </ng-container>
                    </div>
                </div>
                <div class="item-align-flex-container border-profile-card details-css">
                    <div>Experience: {{ employee.experience }}</div>
                    <div>Date Of Joining: {{ employee.dateOfJoining }}</div>
                </div>
                <div class="border-profile-card details-css">
                    <div>Current Team: {{ employee.currentTeam }}</div>
                </div>
                <div class="border-profile-card details-css">
                    <div>Reporting Manager: {{ employee.reportingManager }}</div>
                </div>
                <div class="item-align-flex-container details-css border-profile-card">
                    <div><i class="bi bi-telephone-fill icon-blue"></i>&nbsp;{{ employee.phone }}</div>
                    <div><i class="bi bi-envelope-fill icon-red"></i>&nbsp;{{ employee.email }}</div>
                </div>

                <div class="actions-control">
                    <i class="bi bi-trash3 icon-orangered" (click)="deleteEmployee(employee)"></i>
                    <i class="bi bi-pencil-square icon-edit" (click)="editEmployee(employee)"></i>
                </div>
            </div>
        </div>
    </section>


</section>