.manage-section {
    display: flex;
    flex-direction: row;
    height: 91.4vh;
}

.form-section {
    width: 25%;
    background-color: white;
    height: 100%;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#manage-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.render-section {
    width: 75%;
    padding: 1rem;
    height: 100vh - 3rem;
    background-color: #ebf9ec;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1.5;
}

.add-employee-btn {
    width: 16rem;
    padding: 0.6rem;
    margin-left: 5px;
    border: 2px solid green;
    border-radius: 5px;
    background-color: green;
    color: white;
    font-weight: 600;
}

.form-button {
    position: fixed;
    bottom: 10px;
    left: 12rem;
}

.actions-control {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    gap: 20px;
    justify-content: center;
    padding-bottom: 4px;
}

.icon-orangered {
    color: orangered;
}

.icon-edit {
    color: rgba(159, 159, 57, 0.717);
}

.submit-container {
    margin-bottom: 10px;
}

.submit-btn {
    width: 15.3rem;
    padding: 0.6rem;
    margin-left: 5px;
    border: 2px solid #12a779;;
    border-radius: 5px;
    background-color: #12a779;
    color: white;
    font-weight: 600;
}

.submit-btn:hover {
    width: 15.3rem;
    padding: 0.6rem;
    margin-left: 5px;
    border: 2px solid #12a779;
    border-radius: 5px;
    background-color: white;
    color: #12a779;
    font-weight: 600;
}

.input-error {
    border-color: #d6502b !important;
    box-shadow: 0 0 0 0.2rem rgba(90, 18, 18, 0.25) !important;
    background-color: #fff !important;
}