<section class="manage-section">
    <section class="form-section">
        <form>
            <div class="form-floating">
                <input type="email" id="floatingInput" placeholder=" " required>
                <label for="floatingInput">Name</label>
            </div>
            <div class="form-floating">
                <input type="email" id="floatingInput" placeholder=" " required>
                <label for="floatingInput">Email address</label>
            </div>
        </form>
    </section>
    
    <section class="render-section">
        ##render##
    </section>
</section>
