.manage-section {
    display: flex;
    flex-direction: row;
    height: 88.4vh;
}

.form-section {
    width: 20%;
    background-color: white;
}

.render-section {
    width: 80%;
    padding:1rem;
    background-color: #ebf9ec;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    flex-grow: 1.5;
}